<%= render "branches/sidebar_brokertype" %>
	
<div class="span10">
	<%= render 'branches/contentarea1' %>
</div>

<div class="span5">
  <%= render 'branches/showchart1' %>
</div>
<div class="span5">
	<%= render 'branches/showchart2' %>
</div>
<div class="span5">
	<%= render 'branches/showchart3' %>
</div>
<div class="span5">
	<%= render 'branches/showchart4' %>
</div>

