<h1>注册</h1>

<%= form_for(@user) do |f| %>
	<%= render 'shared/error_messages' %>
	<div class="field">
		<%= f.label :name, "姓名" %> <br />
		<%= f.text_field :name %>
	</div>	
	<div class="field">
		<%= f.label :email %> <br />
		<%= f.text_field :email %>
	</div>
	<div class="field">
		<%= f.label :password, "密码" %> <br />
		<%= f.password_field :password %>
	</div>
	<div class="field">
		<%= f.label :password_confirmation, "确认" %> <br />
		<%= f.password_field :password_confirmation %>
	</div>
	<div class="actions">
		<%= f.submit "注册" %>
	</div>
<% end %>