<h2><%= @timeperiod %>好, <%= current_user.name %></h2>
<p>
公司当前有分公司
<%= @department_num %>
家，直属营业部
<%= @direct_branch_num %>
家，共计营业部
<%= @branch_num %>
家
<br/>
营销团队82个，其中全日制营销团队55个，证券经纪人营销团队27个
<br/>
营销人员6801人，其中证券经纪人3253人，营销经理527人，全日营销经理2247人
<br/>
本月新增客户数95315人，其中营销团队客户数20532人，渠道客户数7428人，营业自主开发客户数67123人
</p>
