<h2><%= @timeperiod %>好, <%= current_user.name %></h2>
<p>
公司当前下辖分公司
<%= @department_num %>
家，直属营业部
<%= @direct_branch_num %>
家，共计营业部
<%= @branch_num %>
家
<br/>
截至今日，共发展营销人员 <%= @broker_num %> 人。其中证券经纪人 <%= @broker_a_num %> 名，
营销经理 <%= @broker_b_num %> 名，全日营销经理 <%= @broker_c_num %> 名，前台人员 <%= @broker_d_num %> 名
<br/>
本月新增客户数5315人，其中营销团队客户数1532人，渠道客户数928人，营业自主开发客户数67123人
</p>
