<!-- 全公司收入柱状图 全公司团队人数饼图 全公司团队收入报酬 全公司新增客户数 -->

<div class="span2">
	<div class="sidebar-nav">
		<ul class="nav nav-list well">
		  <li class="nav-header">
			<i class="icon-list"></i>
			选择分公司
		  </li>
			<%= render @departments %>
		  <li class="divider"></li>
		</ul>
	</div>
</div>
<div class="span10">
	<div class="hero-unit">
		<%= render 'departments/indexview' %>
	</div>
</div>
<div class="span5">
	<div class="well">
		<script type="text/javascript" charset="utf-8">
			var chart;
			$(document).ready(function()  {
				Highcharts.setOptions({
					lang: {
							months: ['一月', '二月', '三月', '四月', '五月', '六月', 
								'七月', '八月', '九月', '十月', '十一月', '十二月']
					}
				});
				new Highcharts.Chart({
					chart: {
						renderTo: "chart_1",
						type: 'column'
					},
					title: {
						text: "全公司收入"
					},
					xAxis: {
						type: 'datetime',
						dateTimeLabelFormats: { 
								month: '%b \'%y'}
						// categories: ['201101', '201105', '201112',  '201204']
						// tickmarkPlacement: 'on',
						// 			title: {
						// 				enabled: false
						// 			}
					},
					yAxis: {
						title: {
							text: "单位：亿"
						},
						min: 0,
						labels: {
									formatter: function() {
									   return this.value / 100000000;
									}
								}
					},
					// tooltip: {
					// 			formatter: function() {
					// 				return ''+
					// 					this.x +': '+ ' ¥' + Highcharts.numberFormat(this.y, 0, ',');
					// 			}
					// 		},
					credits: {
						enabled: false
					},
					series: [
					<% { "总成交量" => Deptindex.matchbalance, "总净佣金" => Deptindex.commis }.each do |name, dept| %>
					{
						name: "<%= name %>",
						pointInterval: <%= 1.month.to_i * 1000 %>,
						pointStart: <%= 1.year.ago.beginning_of_year.to_i * 1000 %>,
						data: <%= dept_chart_series(dept) %>
						// data: [['201101',5],['201102',7],['201103',4],['201104',5],['201105',8],['201106',3]]
					}
					<% end %>]
				})
			});
		</script>
		<div id="chart_1">
			
		</div>
	</div>
</div>
<div class="span5">
	<div class="well">
		<p>营销人员6801人，其中证券经纪人3253人，营销经理527人，全日营销经理2247人</p>
	</div>
</div>
<div class="span5">
	<div class="well">
		<p>公司当前有分公司15家，直属营业部34家，共计营业部202家</p>
	</div>
</div>
<div class="span5">
	<div class="well">
		<p>本月新增客户数95315人，其中营销团队客户数20532人，渠道客户数7428人，营业自主开发客户数67123人</p>
	</div>
</div>