<div class="span2" style="height: 710px;">
	<div class="sidebar-nav">
		<ul class="nav nav-list well">
		  <li class="nav-header">
				<i class="icon-list"></i>
				<%= @department.name %>
			</li>
			<%= render :partial => 'branches/branch', :collection => @branches %>
		  <li class="divider"></li>
		</ul>
	</div>
</div>
	
<div class="span10">
	<div class="hero-unit">
	    <p>公司拥  ，分布于全国20家分公司，198家证券营业部，立足于金融创新，以开发并销售创新类金融产品和提供一揽子金融解决方案为主要目标，
		致力于满足客户在投资理财、资产配置、并购融资、税务筹划等各方面的金融需求，提供快速专业的咨询服务和产品服务。</p>
	</div>
</div>

<div class="span5">
  <%= render 'departments/showchart1' %>
</div>
<div class="span5">
	<%= render 'departments/showchart2' %>
</div>
<div class="span5">
	<%= render 'departments/showchart3' %>
</div>
<div class="span5">
	<%= render 'departments/showchart4' %>
</div>

