<div class="span2" style="height: 1024px;">
	<div class="sidebar-nav">
		<ul class="nav nav-list well">
		  <li class="nav-header">
				<i class="icon-list"></i>
				<%= @department.name %>
			</li>
			<%= render :partial => 'branches/branch', :collection => @branches %>
		  <li class="divider"></li>
		</ul>
	</div>
</div>
	
<div class="span10">
	<div class="hero-unit">
	    <p><strong><%= @department.name %></strong> 位于 负责人 联系电话</p>
			<p>目前拥有营销团队成员，其中全日制营销团队成员，经纪人，前台人员</p>
			<p>客户数， 有效户， 营销团队客户数， 有效户占</p>
			<p>本月实现营业收入， 较上月增长， 其中，营销团队实现收入</p>
	</div>
</div>

<div class="span5">
  <%= render 'departments/showchart1' %>
</div>
<div class="span5">
	<%= render 'departments/showchart2' %>
</div>
<div class="span5">
	<%= render 'departments/showchart3' %>
</div>
<div class="span5">
	<%= render 'departments/showchart4' %>
</div>

