<div>
	<ul class="thumbnails">
		<li>
			<a href="<%= broker_path(broker) %>" class="thumbnail">
				<div class="avatar-small">
					<% if !broker.avatar.nil? %>
     				<%= image_tag(broker.avatar, :alt => broker.broker_name, :size => "80x80" ) %>
					<% else %>
						<%= image_tag("nobody.gif", :alt => broker.broker_name, :size => "80x80" ) %>
					<% end %>
				</div>
			</a>
		</li>
		<li>
			<div>
				<h4>
				<%= link_to broker.broker_code + " " +broker.broker_name, broker_path(broker) %>
				</h4>
			</div>
			<div>
				状态: <%= broker.broker_status %>
			</div>
			<div>
				级别: <%= broker.broker_level %>
			</div>
		</li>
	</ul>
	<ul class="common-divider"></ul>
</div>