<div class="btn-toolbar">
  <div id="nav-broker-point" class="btn-group nav-tabs" data-toggle="buttons-radio">
		<button class="btn"><i class="icon-search"></i></button>
		<% Time.now.beginning_of_year.strftime("%Y%m").upto(Time.now.strftime("%Y%m")).each do |i| %>
			<button class="btn" value= "<%= i %>" > <%= i.at(5) %> </button>
		<% end %>
  </div>
</div>
<div>
	<div class="well">
		<div id="chart_4">
			<%= render 'brokers/brokerchart4' %>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span6">
			<div class="well">
				<legend>考核指标</legend>
					<%= render 'brokers/brokertable1' %>
			</div>
		</div>
		<div class="span6">
			<div class="broker-score well">
				<legend>考核结果</legend>
				<div class="level-img">
					<%= level_detect(201209) %>
					<!-- <img src="/assets/level_down.gif"> -->
				</div>
				<!-- <div id="broker-score"> -->
					<%= render 'brokers/brokertable2' %>
				<!-- </div> -->
			</div>
		</div>
	</div>
</div>

<!-- <%= javascript_tag do %>
	window.levelimgURL = "<%= j level_detect("201208") %>";
<% end %> -->