<ul class="breadcrumb">
<% if @title == "选择分公司" %>
  <li>
    <%= link_to "", departments_path, :class => "icon-home" %>
	<span class="divider">|</span>
  </li>
<% elsif !@department.nil? && @title == @department.name %>
  <li>
    <%= link_to "", departments_path, :class => "icon-home" %>
	<span class="divider">|</span>
  </li>
  <li>
    <%= link_to @department.name, @department, :class => "active" %>
	<!-- <span class="divider">|</span> -->
  </li>
<% elsif !@branch.nil? && @title == @branch.name %>
  <li>
    <%= link_to "", departments_path, :class => "icon-home" %>
	<span class="divider">|</span>
  </li>
  <li>
    <%= link_to @department.name, @department, :class => "active" %>
	<span class="divider">|</span>
  </li>
  <li>
    <%= link_to @branch.name, @branch, :class => "active" %>
	<!-- <span class="divider">|</span> -->
  </li>
<% else %>
  <li>
    <%= link_to "", departments_path, :class => "icon-home" %>
	<span class="divider">|</span>
  </li>
<% end %>
</ul>