 <div class="navbar navbar-fixed-top">
 	<div class="navbar-inner">
		<div class="container-fluid">
	      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
	      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </a>
		  <!-- Everything you want hidden at 940px or less, place within here -->
	      <div class="nav-collapse">
			<ul class="nav pull-right">
				<li><%= link_to "首页", root_path %>
				<% if signed_in? %>
					<li><%= link_to "个人资料", current_user %>
					<li><%= link_to "用户", users_path %>
					<li><%= link_to "设置", edit_user_path(current_user) %>
			 	<% end %>
					<li><%= link_to "帮助", help_path %>
				<% if signed_in? %>
					<li><%= link_to "退出", signout_path %>
				<% else %>
					<li><%= link_to "登录", signin_path %>
				<% end %>
			</ul>
	        <!-- .nav, .navbar-search, .navbar-form, etc -->
	      </div>
	      <!-- Be sure to leave the brand out there if you want it shown -->
		  <a class="brand"><%= logo %></a>
			<% if signed_in? %>
				<%= form_for :categories, :url => search_categories_path,
																	:method => 'get', 
																	:html => { :class => "navbar-search pull-right" } do |f|%>
					<%= f.search_field :category_name,
														 :class => "search-query span2", 
														 :placeholder => "搜索", 
														 :onsearch => true, data: { autocomplete_source: categories_path } %>
					<%= f.submit :type => 'hidden', :name => nil, :value => 'search' %>
				<% end %>
				<!-- <input id="link_broker_id" name="link[broker_id]" type="hidden"/> -->
			<% end %>
	    </div>
	 </div>
 </div>
