<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<!--[if IE]>
		 <script src=
		 "http://html5shiv.googlecode.com/svn/trunk/html5.js">
		 </script>
		<![endif]-->
		<%= include_gon %>
		<%= csrf_meta_tags %>
		<%= stylesheet_link_tag	   "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<%= render 'layouts/header' %>
		<div class="container-fluid">	
			<%= render 'shared/breadcrumb' %>
			<div class="row-fluid">
				<% flash.each do |key, value| %>
				  <div class="alert alert-<%= key %>">
					<a class="close" data-dismiss="alert">×</a>
					<%= value %>
				  </div>	
				<% end %>
				<%= yield %>
			</div>
		</div>
		<%= render 'layouts/footer' %>	
		<!-- <%= debug(params) if Rails.env.development? %> -->
	</body>
<html> 
